html {
    font-size: 62.5%;
}

.search-bar {
    margin: 2rem;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 6.4rem;
}

.video-detail .details {
	margin-top: 1rem;
	padding: 1rem;
	border: .1rem solid #DDD;
	border-radius: .4rem;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #EEE;
}